@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.title{
  font-weight: 900;
  color: #484848;
  font-size: 1.4em;
}

.page {
  margin: 0 15px;
}

.topbar{
  background-color: #FF5A5F;
}

.topbar h1{
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
}

.ranking {
  display: flex;
  overflow-x: auto;
}

.ranking a {
  text-decoration: none;
}

.ranking article {
  height: 230px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-size: cover;
  opacity: 0.8
}

.ranking article:hover {
  opacity: 1;
}

.ranking article h2, .ranking article h6 {
  padding: 0;
  margin: 0;
  color: #fff;
}

.ranking article h2 {
  font-weight: 300;
  font-size: 1.2em;
  width: 180px;
}

.card-detail {
  border: 1px solid #ccc;
  box-shadow: 1px 2px 2px #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card-detail img {
  width: 100%;
}

.card-detail p {
  font-size: 1.2em;
  padding: 0 15px;
  font-weight: 300;
  color: #767676;
}

.button {
  width: 100%;
  margin: 15px 0;
  padding: 5px 0;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 5px;
  background-color: #00A699;
  color: #fff;
  font-size: 1.1em;
  opacity: 0.9;
  outline: none;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  cursor: no-drop;
}

.housing {
  display: flex;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 2px 2px #ccc;
  margin: 10px 0;
  border-radius: 8px;
  overflow: hidden;
}

.housing, .housing h3, .housing h6 {
  text-decoration: none;
  color: #484848;
}

.housing img {
  width: 200px;
}

.housing div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.housing h3 {
  margin: 0px;
  font-weight: 300;
}

.housing h6 {
  margin: 0px;
}

.score {
  display: flex;
  align-items: center;
}

.score div {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.score p {
  padding: 0px;
  margin: 0px;
}

.score div i {
  color: #00A699;
}

.booking-form {
  margin: 15px 0;
}

.booking-form div {
  border: 1px solid #ccc;
  background: #f2f2f2;
  margin: 10px 0;
  border-radius: 3px;
  padding: 0 10px;
}

.booking-form input {
  width: 100%;
  padding: 15px;
  font-weight: 300;
  outline: none;
  font-size: 1em;
  background: transparent;
  border: none;
  margin: 3px 0;
  text-transform: uppercase;
  font-family: 'Lato';
}

.booking-form label {
  color: #777;
  font-size: 0.95em;
}

/***

.link {
  text-decoration: none;
}

.card-place {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 0.85;
}

.card-place:hover {
  opacity: 1;
  cursor: pointer;
}

.card-place article {
  height: 250px;
  width: 100%;
  background-size: cover;
}


.place-detail {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.place-detail h4 {
  font-size: 1.0em;
}

.place-detail p {
  font-size: 0.7em;
}

.place-detail h4, p {
  margin: 0;
  color: #484848;
  line-height: 30px;
}

.place-score {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-decoration: none;
}

.place-score i{
  color: #00A699;
}

.place-score p{
  font-size: 0.8em;
  color: #484848;
  padding-left: 10px;
}
***/
